<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://nlog-project.org/schemas/NLog.xsd http://nlog-project.org/schemas/NLog.xsd">

	<!-- Targets are where the logs are written -->
	<targets>
		<target name="logfile" xsi:type="File"
            fileName="D:/Work/BouncingHero/BouncingHero/logs/logfile_${shortdate}.txt"
            layout="${longdate} ${level} ${message} ${exception}"
            archiveEvery="Day"
            maxArchiveFiles="30"
            archiveFileName="logs/logfile_${shortdate}.{#}.txt"
            keepFileOpen="false"
            encoding="utf-8"
            openFileCacheTimeout="30"
            rollingFileSizeLimit="10MB" />
		<target name="logconsole" xsi:type="Console" layout="${longdate} ${level} ${message} ${exception}" />
	</targets>

	<!-- Rules are how logs are filtered and sent to targets -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile,logconsole" />
	</rules>

</nlog>